body {
  display: flex;
  flex-direction: column;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 50px;
}

header {
  background-color: grey;
  color: white;
  padding: 15px;
}

main {
  display: flex;
  flex-direction: row;
  margin: 20px;
  flex-flow: wrap;
}

footer {
  background-color: grey;
  color: white;
  padding: 10px;
}

a {
  color: #00B7FF;
}

fieldset {
  padding: 10px;
  padding-right: 100px;
}

fieldset input {
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.tags {
  display: flex;
  padding: 10px;
  flex-flow: wrap;
  flex-grow: 1;
}

.tagging {
  margin-right: 50px;
}

.tagmap {
  padding: 10px;
}

.taglist {
  flex-grow: 1;
}

.taglist table {
  margin: 0px;
  padding: 0px;
  
}

.taglist table td {
  color: white;
  background-color: #00B7FF;
  padding: 10px;
  margin: 10px;
  border-bottom: 5px white solid;
}

.discovery {
  flex-grow: 1;
}