body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-width: 390px;
}

a {
  color: #00B7FF;
}

header {
  background-color: grey;
  color: white;
  padding: 15px;
}

main {
  display: flex;
  flex-flow: row wrap;
  padding: 15px;
}

footer {
  background-color: grey;
  color: white;
  padding: 15px;
}

.tags {
  display: flex;
  flex-flow: row wrap;
  margin: 2%;
}

.tagging {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  margin-right: 2%;
}

.taglist {
  margin: 2%;
  flex-grow: 1;
}

#results {
  width: 100%;
  max-width: 410px;
  border-spacing: 5px;
  padding-inline-start: 0;
  margin-block-start: 0;
}

#result-img {
  margin: 10px;
}

.discovery {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  padding-right: 2%;
  margin-right: 2%;
}

.tagmap {
  margin: 2%;
}

.taglist ul li {
  color: white;
  background-color: #00B7FF;
  padding: 10px;
  margin: 10px;

}

/*
used if geoTags are clickable for direct access

.taglist ul li:hover {
  background-color: #0080B1;
  cursor: pointer;
}
*/

fieldset {
  display: flex;
}

fieldset input {
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

fieldset label {
  margin: 5px;
}

.discovery fieldset {
  display: block;
}

.button {
  transition-duration: 0.4s;
  background-color: #00B7FF;
  border: 2px solid;
  color: white;
  border-radius: 5px;
  padding: 7px;
}

.button:hover {
  background-color: #0080B1;
  cursor: pointer;
}

@media (max-device-width: 800px) {

  body {
    max-width: 100%;
  }

  main,
  .tags,
  .taglist,
  .tagmap,
  #result,
  #result-img,
  .taglist ul li {
    margin-left: 0px;
  }

  main {
    padding: 0px;
  }

  .tags,
  .taglist,
  .tagging,
  .taglist ul li {
    margin-right: 0px;
  }

  .discovery {
    padding: 0px;
    margin-right: 0px;
  }

  .tagmap {
    margin-right: 0px;
  }

  #result-img {
    width: 100%;
    margin-right: 0px;
  }
}